@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.8rem;
  letter-spacing: 0.03em;
  font-size: 14px;
  font-weight: 400;
}

.container {
  display: grid;
  margin: 0 auto;
  padding: 0 15px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.container .col-xs-1 {
  grid-column: auto/span 1;
}
.container .col-xs-2 {
  grid-column: auto/span 2;
}
.container .col-xs-3 {
  grid-column: auto/span 3;
}
.container .col-xs-4 {
  grid-column: auto/span 4;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .container .col-sm-1 {
    grid-column: auto/span 1;
  }
  .container .col-sm-2 {
    grid-column: auto/span 2;
  }
  .container .col-sm-3 {
    grid-column: auto/span 3;
  }
  .container .col-sm-4 {
    grid-column: auto/span 4;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .container .col-md-1 {
    grid-column: auto/span 1;
  }
  .container .col-md-2 {
    grid-column: auto/span 2;
  }
  .container .col-md-3 {
    grid-column: auto/span 3;
  }
  .container .col-md-4 {
    grid-column: auto/span 4;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .container .col-lg-1 {
    grid-column: auto/span 1;
  }
  .container .col-lg-2 {
    grid-column: auto/span 2;
  }
  .container .col-lg-3 {
    grid-column: auto/span 3;
  }
  .container .col-lg-4 {
    grid-column: auto/span 4;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .container .col-xl-1 {
    grid-column: auto/span 1;
  }
  .container .col-xl-2 {
    grid-column: auto/span 2;
  }
  .container .col-xl-3 {
    grid-column: auto/span 3;
  }
  .container .col-xl-4 {
    grid-column: auto/span 4;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
  .container .col-xxl-1 {
    grid-column: auto/span 1;
  }
  .container .col-xxl-2 {
    grid-column: auto/span 2;
  }
  .container .col-xxl-3 {
    grid-column: auto/span 3;
  }
  .container .col-xxl-4 {
    grid-column: auto/span 4;
  }
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flex.align-center {
  align-items: center;
}
.flex.justify-center {
  justify-content: center;
}

body header {
  min-height: 22vh;
  padding-top: 1.5rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.card {
  border: 0;
  overflow: hidden;
  border-radius: 0.3rem;
}
.card .content {
  padding: 1rem 0.75rem;
}
.card .content .user {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 1.5rem;
}
.card .content .user .username {
  font-weight: 700;
  font-size: 12px;
  margin-left: 0.5rem;
}
.card .content .stats {
  text-align: center;
  padding-bottom: 1.3rem;
}
.card .content .stats .number {
  font-size: 60px;
  font-weight: 700;
  margin: 0.75rem 0;
}
.card .content .stats .description {
  letter-spacing: 0.4rem;
  text-transform: uppercase;
}
.card .content .today-count {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1db489;
  font-weight: 700;
  font-size: 12px;
}
.card .content .today-count span {
  margin-left: 0.15rem;
}
.card.primary::before {
  display: block;
  content: "";
  height: 5px;
  width: 100%;
}
.card.primary.youtube::before {
  background-color: #c4032a;
}
.card.primary.facebook::before {
  background-color: #198ff5;
}
.card.primary.twitter::before {
  background-color: #1ca0f2;
}
.card.primary.instagram::before {
  background: linear-gradient(to right, #fdc468, #df4996);
}

body.light-theme {
  background-color: white;
  color: #1e202a;
}
body.light-theme .secondary-color {
  color: #63687e;
}
body.light-theme header {
  background-color: #f5f7ff;
}
body.light-theme .card {
  background-color: #f0f2fa;
}
body.light-theme .card .content .user > .username {
  color: #63687e;
}

body.dark-theme {
  background-color: #1e202a;
  color: white;
}
body.dark-theme .secondary-color {
  color: #8b97c6;
}
body.dark-theme header {
  background-color: #1f212e;
}
body.dark-theme .card {
  background-color: #252a41;
}/*# sourceMappingURL=style.css.map */